{% block carousel %}

<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Product Items</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    {% for id,url,prod,graphical in base_data %}
                    <div class="featured-item" data-item-id="{{id}}">
                        <img src="{{url}}" alt="Item 1">
                        <h4>商品名稱 : {{ prod }}</h4>
                        <h6>外觀 : {{ graphical}}</h6>
                        <button type="button" class="btn btn-secondary btn-sm" style="margin-top: 15px;"
                            onclick="sendId('{{ id }}')">商品推薦</button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock carousel %}