{% extends "parts/base.html" %}

<script>window.addEventListener('DOMContentLoaded', (event) => {
    // 在这里执行您的 JavaScript 代码
});</script>




<!-- 將選擇的圖片id傳送到後端伺服器 -->
<script>
    function sendId(itemId) {
        // 創建一個隱藏的表單元素
        var form = $('<form action="/test" method="POST"></form>');
        // 創建一個隱藏的輸入，將數據放入
        var input = $('<input type="hidden" name="itemId" value="' + itemId + '">');
        // 將輸入添加到表單中
        form.append(input);
        // 將表單添加到頁面中並模擬提交
        form.appendTo('body').submit();
    }
</script>

{% block content %}
        <div class="ispan-container">
            <img src="../static/html_img/ispan_logo.png" alt="" class="ispan">
        </div>
        <div class="banner"></div>
        <label></label>

        <div style="width: calc(25%); padding: 10px;">
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Age</span>
                <input type="number" class="form-control" aria-label="Sizing example input" id="age_input" step="1"
                    placeholder="輸入後請按Enter">
            </div>

            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="indexMenu">
                <option value="loading">index</option>
            </select>

            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="groupMenu">
                <option value="loading">group</option>
            </select>

            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="typeMenu">
                <option value="" >type</option>
            </select>

            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Color</span>
                <input type="text" class="form-control" aria-label="Sizing example input" id="color_input"
                    placeholder="輸入後請按Enter">
            </div>

        </div>

        {% for id, name ,color ,type ,volume ,url in zip_top10 %}
        <div class="item">
            <div class="featured-item" data-item-id="{{ id }}">
                <img src="{{ url }}" alt="">
                <h4> {{ name }}</h4>
                <h6> {{ color}}</h6>
                <h6> {{ type }}</h6>
                <h6> {{ volume}}</h6>
                <button type="button" class="btn btn-secondary btn-sm" style="margin-top: 15px;"
                    onclick="sendForm('{{ id }}')">商品推薦</button>
            </div>
        </div>
        {% endfor %}

       
{% include "parts/carousel.html" %}
{% endblock content %}


    


