<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include "parts/navbar.html" %}
    <div id="app2">
        <div class="cart">
            <h2>购物车</h2>
            <ul>
                <!-- 使用v-for指令遍历cartItems数组，并渲染每个产品的信息 -->
                <li v-for="item in cartItems" :key="item.id">
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.color }}</p>
                    <p>{{ item.type }}</p>  
                    <!-- 添加其他产品信息字段 -->
                </li>
            </ul>
        </div>
    </div> 


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        const app2 = new Vue({
            el: '#app2',
            data: {
                cartItems: [] // 用于存储购物车中的产品信息
            }
        });
        // 使用Vue.js的事件系统监听自定义事件
        app2.$root.$on('addToCart', (productInfo) => {
            // 添加产品信息到购物车
            app2.cartItems.push(productInfo);
        });
    </script>


</body>

</html>