{% include "parts/navbar.html" %}
<script src="{{url_for('static',filename='bootstrap-5.0.2-dist/js/bootstrap.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-5.0.2-dist/css/bootstrap.css')}}">
<style>
    .form-group {
        margin-top: 20px;
        font-size: 24px;
    }
</style>
<div style="width: 80%; margin: auto; margin-top: 50px;">
    {% if current_user.is_authenticated %}
    <h1 class="form-group">{{current_user.username}}</h1>
    {% else %}
    <p class="form-group">請 <a href="{{url_for('login')}}">登入帳號</a> 或 <a href="{{url_for('register')}}">註冊帳號</a>
    </p>
    {% endif %}
</div>
{% include "parts/footer.html" %}