{% include "parts/navbar.html" %}
<html>
<style>
    /* 樣式可以根據需要自行調整 */
    .item {
        display: inline-block;
        margin: 10px;
    }
</style>
<head>
    <title>我的最愛</title>
</head>
<body>
    <h1>我的最愛</h1>
    
    <h2>最愛列表</h2>
    <div class="item">
        {% for favorite in favorites %}
            <img src="{{ url_for('get_item_image', item_id=favorite.item_id) }}" alt="{{ favorite.item_id }}">
        {% endfor %}
    </div>
    
    <h2>推薦商品</h2>
    <div class="item">
        {% for recommandation in recommandations %}
            <img src="{{ url_for('get_item_image', item_id=recommandation) }}" alt="{{ recommandation }}">
        {% endfor %}
    </div>
</body>
</html>

{% include "parts/footer.html" %}